<p>Welcome to Angular sample project! It is designed by Stephen Wang.</p>
<h5>About Stephen</h5>
<ul>
	<li><p>Having unique expertise in development and implementation of software in both Java and .Net platforms, fully understanding software development lifecycle, OOP and SOA</p></li>
	<li><p>Successful delivery of enterprise software applications with cross-functional design, design patterns and n-tiers integration; good understanding of data structure and distributed computing</p></li>
	<li><p>Rich experience and skills in analyzing, designing, coding, and debugging; in-depth knowledge of Spring frameworks, JMS, Object-Relational Mapping (Hibernate, JPA) and Web services</p></li>
	<li><p>Excellent problem solving skills, identify the issues and come up with solutions; truly passionate about programming, strong knowledge of multi-threading, Java streaming, Continuous Integration, Messaging, Micro-services, Amazon AWS and Cloud technologies</p></li>
	<li><p>In-depth knowledge and proven experience of software architecture and SQL database; hands-on experience of Business Intelligence and Data Integration, On-Line Analytical Processing(OLAP); good understanding of big data, machine learning, cloud computing and functional programming</p></li>
</ul>
<p>Email: <a href="mailto:wqianling@gamil.com">wqianling@gmail.com</a></p>
