	   ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 2px;
		  display: flex;
		  flex-wrap: wrap;
	
		  li {
			  background: rgb(233,233,233);
			  padding: 1em;
			  margin-right: 10px;
			  width: 20%;
			  height: 135px;
			  margin-bottom: 1em;
			  display: flex;
			  flex-direction: column;
		  }
	
		  p {
			  margin: 0;
		  }
	
		  p.maker {
			  fond-weight: bold;
			  fond-size: 1.2rem;
		  }
	
		  p.other {
			  text-decoration: uppercase;
			  font-size:.9rem;
			  flex-grow: 1;
		  }
	  }
  