
  .fieldName {
    font-weight: 600;
    text-align: right;
    vertical-align: top;
    
  }
  
  th {
	  padding-top: 6px;
	  padding-bottom: 6px;
	  text-align: middle;
	  background-color: #333333;
	  color: white;
	}
  